<section>
      <div class="no-padding-top section">
                    <div class="container">

                    </div><!-- /.container -->
                </div>
            <div class="body-content outer-top-xs">
                <div class='container'>
                    <div class='row single-product'>

                        <div class='col-md-9'>
                        <div class="detail-block">
                            <div class="row  wow fadeInUp">

                                     <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
                <div class="product-item-holder size-big single-product-gallery small-gallery">

                    <div id="owl-single-product">
                        <div class="single-product-gallery-item" id="slide1">
                            <a data-lightbox="image-1" data-title="Gallery" href="">
                                <img class="img-responsive" alt="" src="" data-echo="" />
                                <%= link_to image_tag(@product.image.url), class: "background-image" %>
                            </a>
                        </div><!-- /.single-product-gallery-item -->
                    </div><!-- /.single-product-slider -->
                </div><!-- /.single-product-gallery -->
            </div><!-- /.gallery-holder -->
                                <div class='col-sm-6 col-md-7 product-info-block'>
                                    <div class="product-info">
                                        <h1 class="name"><%= @product.title %></h1>

                                        <div class="rating-reviews m-t-20">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="rating rateit-small"></div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="reviews">
                                                        <a href="#" class="lnk"></a>
                                                    </div>
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.rating-reviews -->

                                        <div class="stock-container info-container m-t-10">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="stock-box">
                                                        <span class="label">Availability :</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="stock-box">
                                                        <span class="value"></span>
                                                    </div>
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.stock-container -->

                                        <div class="description-container m-t-20">

                            <p>Description</p>
                                            <%= @product.description %>

                                        </div><!-- /.description-container -->

                                        <div class="price-container info-container m-t-20">
                                            <div class="row">


                                                <div class="col-sm-6">
                                                    <div class="price-box">
                                                        <span class="price"><%= number_to_currency (@product.price) %></span>

                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="favorite-button m-t-10">

                                                    </div>
                                                </div>

                                            </div><!-- /.row -->
                                        </div><!-- /.price-container -->
                             <hr>
                                        <div class="quantity-container info-container">
                                            <div class="row">
                                                <div class="col-sm-7">
                                <%= button_to product_items_path(product_id: @product.id), class: 'btn btn-primary' do %>
                              <i class="fa fa-shopping-cart"></i> ADD TO CART
                              <% end %>
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.quantity-container -->
                                    </div><!-- /.product-info -->
                                </div><!-- /.col-sm-7 -->
                            </div><!-- /.row -->
                            </div>

</section>
